{{- $fingerprint := .Site.Store.Get "fingerprint" -}}

{{- /* repo-card.min.css */ -}}
{{- if (.HasShortcode "gh-repo-card") | and (ne .Layout "projects") -}}
  {{- dict
    "Source" "scss/repo-card.scss"
    "ToCSS" true
    "Fingerprint" $fingerprint
    | partial "plugin/style.html"
  -}}
{{- end -}}

{{- $isContentAdapter := false -}}
{{- with .File -}}
  {{- $isContentAdapter = .IsContentAdapter -}}
{{- end -}}

{{- /* adapter.min.css */ -}}
{{- if (eq .Params.fromAdapters "projects") | and $isContentAdapter -}}
  {{- dict
    "Source" "scss/projects-adapter.scss"
    "ToCSS" true
    "Fingerprint" $fingerprint
    | partial "plugin/style.html"
  -}}
{{- end -}}
