@charset "utf-8";
@import "repo-card";

.archive.projects {
  .single-subtitle {
    margin-block: 0.25rem;
    font-size: 1rem;
  }

  .projects-group-title,
  .heading-element {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #d0d7deb3;
  }
  
  .gh-repo-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 0.5rem;

    &:has(.total-stars) {
      margin-top: 2rem;
    }
  }

  .group-summary {
    display: inline;
    color: var(--color-muted);
    border-color: var(--bc-gh-repo-card);
    border-style: solid;
    border-width: var(--bw-gh-repo-card);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 14px;
    border-radius: 2em;
    padding: .25em 1em;
    white-space: nowrap;
    position: absolute;
    right: 0;
    transform: translateY(-43px);

    &.total-stars {
      right: 8px;
      transform: translateY(-26px);
    }
  }

  #comments {
    padding: 2rem 0;
    margin-top: 2rem;
  }
}
