// GitHub Repository Card
:root {
  --bg-gh-repo-card: #ffffff;
  --bc-gh-repo-card: #d0d7de;
  --br-gh-repo-card: 0.375rem;
  --bw-gh-repo-card: MAX(1px, 0.0625rem);
  --color-muted: #636c76;
  --color-attention: #9a6700;
  --bc-attention: #bf8700;
  --url-color: #0969da;

  [data-theme='dark'] {
    --bg-gh-repo-card: #22272e;
    --bc-gh-repo-card: #444c56;
    --color-muted: #717e8b;
    --color-attention: #c69026;
    --bc-attention: #966600;
    --url-color: #478be6;
  }
}

.gh-repo-card {
  box-sizing: border-box;
  flex-shrink: 0;
  width: calc(50% - 0.5rem);
  padding: 16px;
  background-color: var(--bg-gh-repo-card);
  border-color: var(--bc-gh-repo-card);
  border-radius: var(--br-gh-repo-card);
  border-style: solid;
  border-width: var(--bw-gh-repo-card);

  svg {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
  }

  .repo-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .repo-name {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;

      svg {
        flex-shrink: 0;
        color: var(--color-muted);
      }

      .repo-url {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--url-color);
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
        span:last-child {
          font-weight: 600;
        }
      }

      .repo-visibility {
        display: inline;
        color: var(--color-muted);
        border-color: var(--bc-gh-repo-card);
        border-style: solid;
        border-width: var(--bw-gh-repo-card);
        flex-shrink: 0;
        font-size: 85%;
        font-weight: 500;
        line-height: 14px;
        border-radius: 2em;
        padding: .12em .5em;
        white-space: nowrap;

        &[data-archived='true'] {
          color: var(--color-attention);
          border-color: var(--bc-attention);
        }
      }
    }

    .repo-fork-from,
    .repo-desc {
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-size: 0.75rem;
      color: var(--color-muted);
      line-height: 1.5;
    }
    .repo-fork-from {
      a {
        color: inherit;
        &:hover {
          color: var(--url-color)
        }
      }
    }
    .repo-desc {
      flex: 1 0 auto;
    }

    .repo-statistics {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-size: 0.75rem;
      color: var(--color-muted);
      line-height: 1.5;

      .repo-lang {
        font-size: inherit;

        .repo-lang-color {
          box-sizing: border-box;
          position: relative;
          top: 1px;
          display: inline-block;
          width: 12px;
          height: 12px;
          border: 1px solid var(--bc-gh-repo-card);
          border-radius: 50%;
        }
      }

      .repo-stars,
      .repo-forks {
        color: inherit;
        font-size: inherit;

        &:hover {
          color: var(--url-color);
        }

        svg {
          margin-right: 0.25rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .gh-repo-card {
    width: 100%;
  }
}
