{{- $repo := (cond .IsNamedParams (.Get "repo") (.Get 0)) -}}
{{- if not $repo -}}
  {{- errorf "gh-repo-card shortcode: missing repo parameter" -}}
{{- end -}}

{{- $headers := dict "headers" (page.Scratch.Get "githubTokenHeader") -}}
{{- $url := printf "https://api.github.com/repos/%v" $repo -}}
{{- $repoInfo := partial "function/get-remote-json" (dict "URL" $url "OPTIONS" $headers ) -}}
{{- $githubLangColors := .Scratch.Get "githubLangColors" -}}
{{- if not $githubLangColors -}}
  {{- $githubLangColors = partial "function/get-remote-json" (dict "URL" "https://raw.githubusercontent.com/ozh/github-colors/master/colors.json" "OPTIONS" $headers ) -}}
  {{- .Scratch.Set "githubLangColors" $githubLangColors -}}
{{- end -}}

{{- if not $repoInfo -}}
  {{- erroridf "error-get-gh-repo" "gh-repo-card shortcode: failed to fetch repo info from GitHub API" -}}
{{- end -}}

{{- dict "RepoInfo" $repoInfo "GithubLangColors" $githubLangColors | partial "plugin/gh-repo-card.html" -}}
