{{- define "title" -}}
  {{- .Params.Title | default ((T .Section) | default .Section | dict "Some" | T "allSome") -}}
  {{- if .Site.Params.withSiteTitle }} {{ .Site.Params.titleDelimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  {{- $params := partial "function/params.html" -}}
  {{- $options := dict "headers" (.Scratch.Get "githubTokenHeader") -}}
  {{- $githubLangColors := partial "function/get-remote-json" (dict "URL" "https://raw.githubusercontent.com/ozh/github-colors/master/colors.json" "OPTIONS" $options ) -}}

  <div class="page archive projects">
    <div class="header">
      {{- /* Title */ -}}
      <h1 class="single-title animate__animated animate__pulse animate__faster">
        {{- with $params.titleIcon -}}
          {{- dict "Class" (add . " fa-fw me-1") | partial "plugin/icon.html" -}}
        {{- end -}}
        {{- .Params.Title | default ((T .Section) | default .Section | dict "Some" | T "allSome") }}
      </h1>
      {{- /* Subtitle */ -}}
      {{- with $params.subtitle -}}<p class="single-subtitle animate__animated animate__fadeIn">{{ . | $.RenderString }}</p>{{- end -}}
    </div>
    
    {{- /* Content */ -}}
    <div class="content" id="content">
      {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
    </div>

    {{- /* TODO 要提炼出一个 partial，后续需要实现 shortcodes 共用 */ -}}
    {{- $data := index .Site.Data (printf "projects.%v" .Language) | default .Site.Data.projects -}}
    {{- range $group := $data -}}
      <h2 id="{{ $group.title | anchorize }}" class="projects-group-title">{{ $group.title }}</h2>
      {{- with $group.description -}}
        <p class="projects-group-description">{{ . }}</p>
      {{- end -}}
      <div class="gh-repo-card-container">
        {{- range $repo := $group.repos -}}
          {{- $url := printf "https://api.github.com/repos/%v" $repo -}}
          {{- $repoInfo := partial "function/get-remote-json" (dict "URL" $url "OPTIONS" $options ) -}}
          {{- if not $repoInfo -}}
            {{- continue -}}
          {{- end -}}
          {{- $startsURL := printf "https://github.com/%v/stargazers" $repo -}}
          {{- $forksURL := printf "https://github.com/%v/forks" $repo -}}
          {{- $startsCount := partial "function/format-number" (dict "NUMBER" $repoInfo.stargazers_count) -}}
          {{- $forksCount := partial "function/format-number" (dict "NUMBER" $repoInfo.forks_count) -}}
          <div class="gh-repo-card">
            <div class="repo-card-content">
              <div class="repo-name">
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-repo mr-1 color-fg-muted">
                  <path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path>
                </svg>
                <a href="{{ $repoInfo.html_url }}" class="repo-url" title="{{ $repoInfo.full_name }}" target="_blank">
                  <span>{{ $repoInfo.owner.login }}/</span><span>{{ $repoInfo.name }}</span>
                </a>
                {{- $visibility := cond $repoInfo.archived (add $repoInfo.visibility " archived") $repoInfo.visibility -}}
                <span class="repo-visibility" data-archived="{{ $repoInfo.archived }}">{{ strings.FirstUpper $visibility }}</span>
              </div>
              {{- with $repoInfo.parent -}}
                <p class="repo-fork-from">Fork from <a href="{{ .html_url }}" target="_blank">{{ .full_name }}</a></p>
              {{- end -}}
              <p class="repo-desc">{{ $repoInfo.description }}</p>
              <p class="repo-statistics">
                {{- with $repoInfo.language -}}
                  <span class="repo-lang">
                    <span class="repo-lang-color" style="background-color: {{ (index $githubLangColors $repoInfo.language).color }};"></span>
                    <span itemprop="programmingLanguage">{{ $repoInfo.language }}</span>
                  </span>
                {{- end -}}
                {{- with $repoInfo.stargazers_count -}}
                  <a href="{{ $startsURL }}" title="{{ $repoInfo.stargazers_count }} stars" class="repo-stars" target="_blank">
                    <svg aria-label="stars" role="img" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-star">
                      <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z"></path>
                    </svg>
                    {{- $startsCount -}}
                  </a>
                {{- end -}}
                {{- with $repoInfo.forks_count -}}
                  <a href="{{ $forksURL }}" title="{{ $repoInfo.forks_count }} forks" class="repo-forks" target="_blank">
                    <svg aria-label="forks" role="img" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-repo-forked">
                      <path d="M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0ZM5 3.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Zm6.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-3 8.75a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z"></path>
                    </svg>
                    {{- $forksCount -}}
                  </a>
                {{- end -}}
              </p>
            </div>
          </div>
        {{- end -}}
      </div>
    {{- end -}}

    <h2 class="projects-group-title">{{ T "projects.relatedArticles" }}</h2>
    {{- /* Total page and word count */ -}}
    {{- $localData := newScratch -}}
    {{- range .Pages -}}
      {{- $localData.Add "totalWordCount" .WordCount -}}
    {{- end -}}
    {{- with ($localData.Get "totalWordCount") -}}
      {{- $totalWordCount := partial "function/format-number" (dict "NUMBER" .) -}}
      <div title='{{- T "section.archiveCounter" $.Pages.Len }} {{ T "section.totalWordCount" . }}' class="group-title-summary">
        {{- T "section.archiveCounter" $.Pages.Len }} & {{ T "section.totalWordCount" (dict "Count" $totalWordCount) -}}
      </div>
    {{- end -}}
    {{- with $params.sectionSlot -}}
      <p>{{ . | $.RenderString }}</p>
    {{- end -}}

    {{- /* Paginate */ -}}
    {{- if .Pages -}}
      {{- $pages := .Pages.GroupByDate "2006" -}}
      {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
        {{- $pages = $.Paginate $pages . -}}
      {{- else -}}
        {{- $pages = .Paginate $pages -}}
      {{- end -}}
      {{- range $pages.PageGroups -}}
        <h3 class="group-title">
          {{- dict "Class" "fa-regular fa-calendar fa-fw me-1" | partial "plugin/icon.html" -}}
          {{- .Key -}}
        </h3>
        {{- range .Pages -}}
          <article class="archive-item">
            <a href="{{ .RelPermalink }}" class="archive-item-link">
              {{- $repost := .Params.repost | default dict -}}
              {{- if eq $repost.enable true -}}
                {{- dict "Class" "fa-solid fa-share fa-fw text-success me-1" | partial "plugin/icon.html" -}}
              {{- end -}}
              {{- .LinkTitle -}}
            </a>
            <span class="archive-item-date" title='{{ "2006-01-02 15:04:05" | .Date.Format }}'>
              {{- .Date | dateFormat ($.Site.Params.section.dateFormat | default "01-02") -}}
            </span>
          </article>
        {{- end -}}
      {{- end -}}
      {{- partial "paginator.html" . -}}
    {{- end -}}

    {{- /* Comment */ -}}
    {{- partial "single/comment.html" . -}}
  </div>

  {{- /* component-projects.min.css */ -}}
  {{- $fingerprint := .Scratch.Get "fingerprint" -}}
  {{- $options := dict "Source" "css/component-projects/index.scss" "Fingerprint" $fingerprint -}}
  {{- $toCSS := dict "targetPath" "css/component-projects.min.css" "enableSourceMap" true -}}
  {{- $options = dict "Context" . "ToCSS" $toCSS | merge $options -}}
  {{- partial "plugin/style.html" $options -}}
{{- end -}}
