{{- define "title" -}}
  {{- .Params.Title | default ((T .Section) | default .Section | dict "Some" | T "allSome") -}}
  {{- if .Site.Params.withSiteTitle }} {{ .Site.Params.titleDelimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  {{- $params := partial "function/params.html" -}}
  {{- $fingerprint := .Scratch.Get "fingerprint" -}}

  {{- /* component-projects.min.css */ -}}
  {{- $options := dict "Source" "css/component-projects/index.scss" "Fingerprint" $fingerprint -}}
  {{- $toCSS := dict "targetPath" "css/component-projects.min.css" "enableSourceMap" true -}}
  {{- $options = dict "Context" . "ToCSS" $toCSS | merge $options -}}
  {{- partial "plugin/style.html" $options -}}

  <div class="page archive projects single">
    <div class="header">
      {{- /* Title */ -}}
      <h1 class="single-title animate__animated animate__pulse animate__faster">
        {{- with $params.titleIcon -}}
          {{- dict "Class" (add . " fa-fw me-1") | partial "plugin/icon.html" -}}
        {{- end -}}
        {{- .Params.Title | default ((T .Section) | default .Section | dict "Some" | T "allSome") }}
      </h1>
      {{- /* Subtitle */ -}}
      {{- with $params.subtitle -}}<p class="single-subtitle animate__animated animate__fadeIn">{{ . | $.RenderString }}</p>{{- end -}}
    </div>
    
    {{- /* Content */ -}}
    <div class="content" id="content">
      {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
      {{- $data := index .Site.Data (printf "projects.%v" .Language) | default .Site.Data.projects -}}
      {{- $headers := dict "headers" (.Scratch.Get "githubTokenHeader") -}}
      {{- $githubLangColors := partial "function/get-remote-json" (dict "URL" "https://raw.githubusercontent.com/ozh/github-colors/master/colors.json" "OPTIONS" $headers ) -}}
      {{- range $group := $data -}}
        <h2 id="{{ $group.title | anchorize }}" class="projects-group-title">{{ $group.title }}</h2>
        {{- with $group.description -}}
          <p>{{- dict "Content" (. | $.RenderString) "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}</p>
        {{- end -}}
        {{- $totalStarCount := 0 -}}
        <div class="gh-repo-card-container">
          {{- range $repo := $group.repos -}}
            {{- $url := printf "https://api.github.com/repos/%v" $repo -}}
            {{- $repoInfo := partial "function/get-remote-json" (dict "URL" $url "OPTIONS" $headers ) -}}
            {{- if not $repoInfo -}}
              {{- continue -}}
            {{- end -}}
            {{- with $repoInfo.stargazers_count -}}
              {{- $totalStarCount = add $totalStarCount . -}}
            {{- end -}}
            {{- dict "RepoInfo" $repoInfo "GithubLangColors" $githubLangColors | partial "plugin/gh-repo-card.html" -}}
          {{- end -}}
          {{- if $group.totalStars -}}
            <div title="{{ T `projects.totalStarCount` (dict `Count` $totalStarCount) }}" class="group-summary total-stars">
              {{- T "projects.totalStarCount" (dict "Count" (partial "function/format-number" (dict "NUMBER" $totalStarCount))) -}}
            </div>
          {{- end -}}
        </div>
      {{- end -}}
    </div>

    {{- /* Paginate */ -}}
    {{- if .Pages -}}
      <h2 class="projects-group-title">{{ T "projects.relatedArticles" }}</h2>
      {{- /* Total page and word count */ -}}
      {{- $localData := newScratch -}}
      {{- range .Pages -}}
        {{- $localData.Add "totalWordCount" .WordCount -}}
      {{- end -}}
      {{- with ($localData.Get "totalWordCount") -}}
        <div title="{{- T `section.archiveCounter` $.Pages.Len }} {{ T `section.totalWordCount` . }}" class="group-summary">
          {{- T "section.archiveCounter" $.Pages.Len }} & {{ T "section.totalWordCount" (dict "Count" (partial "function/format-number" (dict "NUMBER" .))) -}}
        </div>
      {{- end -}}
      {{- with $params.sectionSlot -}}
        <p>{{- dict "Content" (. | $.RenderString) "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}</p>
      {{- end -}}

      {{- $pages := .Pages.GroupByDate "2006" -}}
      {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
        {{- $pages = $.Paginate $pages . -}}
      {{- else -}}
        {{- $pages = .Paginate $pages -}}
      {{- end -}}
      {{- range $pages.PageGroups -}}
        <h3 class="group-title">
          {{- dict "Class" "fa-regular fa-calendar fa-fw me-1" | partial "plugin/icon.html" -}}
          {{- .Key -}}
        </h3>
        {{- range .Pages -}}
          <article class="archive-item">
            <a href="{{ .RelPermalink }}" class="archive-item-link">
              {{- $repost := .Params.repost | default dict -}}
              {{- if eq $repost.enable true -}}
                {{- dict "Class" "fa-solid fa-share fa-fw text-success me-1" | partial "plugin/icon.html" -}}
              {{- end -}}
              {{- .LinkTitle -}}
            </a>
            <span class="archive-item-date" title="{{ `2006-01-02 15:04:05` | .Date.Format }}">
              {{- .Date | dateFormat ($.Site.Params.section.dateFormat | default "01-02") -}}
            </span>
          </article>
        {{- end -}}
      {{- end -}}
      {{- partial "paginator.html" . -}}
    {{- end -}}

    {{- /* Comment */ -}}
    {{- partial "single/comment.html" . -}}
  </div>
{{- end -}}
